$blue: #3D5B96;
$blue-lt: #4469AF;
$blue-dk: #2B4A7B;
$gray: #E9EBEE;
$gray-dk: #B0B4B9;
$gray-lt: #F6F7F9;
$green: #48B536;
$black-lt: #4C4F56;
$gray-border: #D0D1D5;
$border: 1px solid $gray-border;
$radius: 4px;
